@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Playball&display=swap');
.bg-main{
  background-color: #fb494f;
}
/* Boogaloo */
.text-main{
  color: #fb494f !important;
}

.justify-between{
  display: flex !important;
  justify-content: space-between !important;
}
.justify-around{
  display: flex !important;
  justify-content: space-around !important;
}
*{
  flex-wrap: wrap;
  font-family: 'Boogaloo', cursive;

}
.fs-10{
  font-size: 20px;
}

.shadows{
  box-shadow: 0px 0px 20px 3px rgba(24, 24, 24, 0.499) !important;
  
   border: 6px dashed #fb494f;
   border-radius: 20px;
   background: transparent;
}
